.App {
  overflow: hidden;
}
.container {
  font-family: var(--light-font);
  color: var(--main-color);
  user-select: none;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container--preview {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.fade {
  /* transition: all 2s ease-in-out; */
}
.container__content {
  max-width: 90%;
  width: 100%;
  height: 100%;
}
.container__content--absolute {
  position: absolute;
}

.tsagrgdf {
  left: 0px;
  color: #fff;
  position: fixed;
  top: 0;
}